@font-face {
  font-family: "BeVietnam";
  src: url("../fonts/BeVietnam-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BeVietnam";
  src: url("../fonts/BeVietnam-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@media only screen and (max-width: 768px) {
  a,row {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}
body {
  width: 100%;
  /* height:100%; */
  font-family: BeVietnam;
  color: white;
   background-image: linear-gradient(180deg,#E3F0D1,#E6BDC9);
}

#lang img{
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
/* #lange img{ */
  /* width: 25px; */
  /* height: 25px; */
  /* margin-left: 10px; */
/* } */
#info {
  width: 100%;
  border-bottom: 3px solid #000;
}

#infoc {
  width: 100%;
}

#inforow {
  width: 100%;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
}

#infol {
  width: 25%;
  text-align: right;
  margin-right: 15px;
  font-weight: bold;
  font-size: 1rem;
}

#infor{
  width: 75%;
  text-align: left;
  margin-left: 15px;
  font-size: 1.2rem;
}

#topb{
  width: 100%;
  border-bottom: 1px solid linear-gradient(180deg,#333,#ccc);
}

#top {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  flex-direction: column;
}

#topl img{
  width: 135px;
  height: 135px;
}

#topr {
  padding-left: 15px;
}

#rowb {
  width: 100%;
  border-bottom: 3px solid #1;
}

#row {
  width: 100%;
  /* max-width: 60; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  /* padding:10px; */
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
	  /* padding-left:10%; */
	  padding-right:10%;
  align-items: center;
  border: 3px solid lightyellow;
    margin-bottom: 10px;
}

#rowl img{
  width: 60px;
  height: 60px;
  margin-left: 20px;
}

#rowr {
  padding-left: 1rem;
  text-align: left;
}

#td {
  font-size: 1rem;
  /* font-weight: bold; */
}
#nd {
  font-size: 0.55rem;
  font-weight: bold;
}
#d {
  font-size: 1.6rem;
  font-weight: bold;
  align-items:center;
}
#mt {
  color: #d4ff00;
  font-size: 1.65rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

#bot {
  color: #949494;
  text-align: center;
}
 /* #lang { */
 /* display: flex; } */
a{
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 50%;
  /* padding-right:250; */
}

.bbb{
  border-bottom: 2px solid #b9b9b9;
   display: flex;
    flex-direction: column;
    align-items: center;
}